*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    
    display:flex;
    justify-content: space-around;
    align-items: center;   
}
.logo{
    width: 80px;
    vertical-align: middle;
    
}
.main{
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn, .start{
    padding:2px 5px;
    text-align: center;
    cursor:pointer;
}

.container{
    width: 600px;
    display:Flex;
    justify-content: center;
    align-items: center;
    
}

.cell{
    aspect-ratio: 1 / 1;
    display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    
}

.cells{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    
}

.color_cells{
background-color: blue;
color:white;
}